In [6]:
import pandas as pd #for EDA

In [7]:
df=pd.read_csv('Connections.csv') #reading the file

In [8]:
print(df.columns)

Index(['First Name', 'Last Name', 'Email Address', 'Company', 'Position',
       'Connected On'],
      dtype='object')

In [9]:
Connections = df.loc[df['Position'].notnull(), ['First Name','Last Name', 'Company', 'Connected On','Position']] 
#Found that Position(column) has lots of null values so dropping all the rows having the null values in Position(column)

In [10]:
Connections.isnull().values.any() 
#checking if df has still any null values

False

In [11]:
#Checking the no. of connections for each company(head() displays top 5)
(Connections.Company.value_counts().head())

Amazon                       21
Tata Consultancy Services    19
Informatica                  18
Infosys                      16
Accenture                    14
Name: Company, dtype: int64

In [12]:
#Checking the no. of connections for each company(head() displays top 5)
(Connections.Position.value_counts().head())

Data Scientist       91
Software Engineer    55
Data Analyst         33
Founder              30
Intern               18
Name: Position, dtype: int64

In [13]:
#Creating the df which is grouped by the company for the HR|Recruiter|Acquition containing Position 
HRs=Connections.loc[(Connections['Position'].str.contains('HR|Recruiter|Acquition'))].groupby('Company')

In [14]:
#Makning the dict of the above df ,where the key values are the name of the companies
groups = dict(list(HRs))

In [15]:
company=[]

In [16]:
i=0
for key in groups:
    company.append(key)
    i+=1
print(i)

61

In [17]:
print(company)

['Accenture', 'Adam Infotech', 'Affine Analytics', 'Aganitha Cognitive Solutions', 'Amazon', 'Archies Lifestyle', 'BMS INNOLABS PVT LTD', 'Betaout', 'BookMyForex', 'CodeNation', 'Cond√© Nast India', 'CutShort', 'CybOrg Technologies', 'Edureka', 'Ejento', 'Enterprise IT Solutions', 'Facebook', 'Flipkart', 'Forsys Inc', 'Freelancer', 'Google', 'HCL Technologies', 'HERE Technologies', 'Helpshift', 'HireCraft Software Pvt Ltd', 'HireStrategy', 'Hortonworks', 'Humain Diagnostics', 'InMobi', 'Indigo Infraprojects Pvt. Ltd.', 'Infosoft, Inc.', 'Juego Studio Private Limited', 'KLA-Tencor', 'Myntra', 'NextGen Invent Corporation', 'Ola (ANI Technologies Pvt. Ltd)', 'Oodles Technologies Pvt Ltd', 'Phoenix Staff, Inc.', 'Publicis.Sapient', 'Quess Corp Limited', 'Reliance Industries Limited', 'SQUARE_PIXEL', 'Self-employed', 'Simplotel', 'Smartron', 'Stryker', 'Tangoe', 'TekVizor', 'Triune Infomatics Inc', 'Uber', 'Uneecops Technologies Ltd.', 'VBeyond Corporation', 'VMware', 'Velankani Electronics Pvt Ltd', 'Virtual Height IT Services PVT LTD', 'Walmart', 'YASH Technologies', 'Yahoo', 'Youth4work', 'iQLabs Staffing', 'iWare Consultancy Services']

In [18]:
#Converting it into Series, because I love Pandas :)

Fav_cmpany=pd.Series(company)

In [20]:
#Selecting my favt cmpny
Fav_cmpany=Fav_cmpany[Fav_cmpany.str.contains('Ola|Uber|Google|Flip|Amazon|Edur')]

In [35]:
#Displays the HRs of my Fav_cmpany
for index in Fav_cmpany.index:
    """below line will print the HRs of your fav.cmpny
    print(HRs.get_group(Fav_cmpany[index]))"""

In [26]:

for index in Fav_cmpany.index:
    
        
        
    print(Fav_cmpany[index])
    print(HRs.get_group(Fav_cmpany[index]).Position.value_counts())

Amazon
Recruiter              2
Technical Recruiter    1
Name: Position, dtype: int64
Edureka
Senior Associate - HR Operations    1
Name: Position, dtype: int64
Flipkart
Engineering Recruiter    1
Director HR              1
Name: Position, dtype: int64
Google
Recruiter-Google Cloud                   1
Techincal Recruiter Google Cloud Apac    1
HR Manager                               1
Name: Position, dtype: int64
Ola (ANI Technologies Pvt. Ltd)
HR Manager    1
Name: Position, dtype: int64
Uber
Senior Technical Recruiter     1
Technical Recruiter - EMEA     1
Name: Position, dtype: int64

Amazon
Recruiter              2
Technical Recruiter    1
Name: Position, dtype: int64
Edureka
Senior Associate - HR Operations    1
Name: Position, dtype: int64
Flipkart
Engineering Recruiter    1
Director HR              1
Name: Position, dtype: int64
Google
Techincal Recruiter Google Cloud Apac    1
Recruiter-Google Cloud                   1
HR Manager                               1
Name: Position, dtype: int64
Ola (ANI Technologies Pvt. Ltd)
HR Manager    1
Name: Position, dtype: int64
Uber
Technical Recruiter - EMEA     1
Senior Technical Recruiter     1
Name: Position, dtype: int64