In [128]:
import pandas as pd #for EDA

In [2]:
df=pd.read_csv('Connections.csv') #reading the file

In [3]:
print(df.columns)

Index(['First Name', 'Last Name', 'Email Address', 'Company', 'Position',
       'Connected On'],
      dtype='object')

In [4]:
Connections = df.loc[df['Position'].notnull(), ['First Name','Last Name', 'Company', 'Connected On','Position']] 
#Found that Position(column) has lots of null values so dropping all the rows having the null values in Position(column)

In [5]:
Connections.isnull().values.any() 
#checking if df has still any null values

False

In [129]:
#Checking the no. of connections for each company(head() displays top 5)
(Connections.Company.value_counts().head())

Amazon                       21
Tata Consultancy Services    19
Informatica                  18
Infosys                      16
Accenture                    14
Name: Company, dtype: int64

In [131]:
#Checking the no. of connections for each company(head() displays top 5)
(Connections.Position.value_counts().head())

Data Scientist       91
Software Engineer    55
Data Analyst         33
Founder              30
Intern               18
Name: Position, dtype: int64

In [76]:
#Creating the df which is grouped by the company for the HR|Recruiter|Acquition containing Position 
HRs=Connections.loc[(Connections['Position'].str.contains('HR|Recruiter|Acquition'))].groupby('Company')

In [77]:
#Makning the dict of the above df ,where the key values are the name of the companies
groups = dict(list(HRs))

In [92]:
company=[]

In [93]:
i=0
for key in groups:
    company.append(key)
    i+=1
print(i)

61

In [94]:
print(company)

['Accenture', 'Adam Infotech', 'Affine Analytics', 'Aganitha Cognitive Solutions', 'Amazon', 'Archies Lifestyle', 'BMS INNOLABS PVT LTD', 'Betaout', 'BookMyForex', 'CodeNation', 'Condé Nast India', 'CutShort', 'CybOrg Technologies', 'Edureka', 'Ejento', 'Enterprise IT Solutions', 'Facebook', 'Flipkart', 'Forsys Inc', 'Freelancer', 'Google', 'HCL Technologies', 'HERE Technologies', 'Helpshift', 'HireCraft Software Pvt Ltd', 'HireStrategy', 'Hortonworks', 'Humain Diagnostics', 'InMobi', 'Indigo Infraprojects Pvt. Ltd.', 'Infosoft, Inc.', 'Juego Studio Private Limited', 'KLA-Tencor', 'Myntra', 'NextGen Invent Corporation', 'Ola (ANI Technologies Pvt. Ltd)', 'Oodles Technologies Pvt Ltd', 'Phoenix Staff, Inc.', 'Publicis.Sapient', 'Quess Corp Limited', 'Reliance Industries Limited', 'SQUARE_PIXEL', 'Self-employed', 'Simplotel', 'Smartron', 'Stryker', 'Tangoe', 'TekVizor', 'Triune Infomatics Inc', 'Uber', 'Uneecops Technologies Ltd.', 'VBeyond Corporation', 'VMware', 'Velankani Electronics Pvt Ltd', 'Virtual Height IT Services PVT LTD', 'Walmart', 'YASH Technologies', 'Yahoo', 'Youth4work', 'iQLabs Staffing', 'iWare Consultancy Services']

In [95]:
#Converting it into Series, because I love Pandas :)

Fav_cmpany=pd.Series(company)

In [103]:
#Selecting my favt cmpny
Fav_cmpany=Fav_cmpany[Fav_cmpany.str.contains('Ola|Uber|Google|Flip|Amazon|Edur')],index[0]

In [118]:
df=pd.DataFrame()

In [123]:
#Displays the HRs of my Fav_cmpany
for index in Fav_cmpany.index:
    print(HRs.get_group(Fav_cmpany[index]))

     First Name     Last Name Company Connected On             Position
117      Tamara  Rea Thompson  Amazon  24 Sep 2018  Technical Recruiter
1963      Burma           Ram  Amazon  18 Jan 2018            Recruiter
1970     Kishor      Pinninti  Amazon  10 Jan 2018            Recruiter
     First Name Last Name  Company Connected On  \
1294     Shreya       Roy  Edureka  14 May 2018

                              Position
1294  Senior Associate - HR Operations
     First Name Last Name   Company Connected On               Position
3         Manoj    Mishra  Flipkart  19 Nov 2018            Director HR
1858    Raginee    Kumari  Flipkart  10 Apr 2018  Engineering Recruiter
     First Name Last Name Company Connected On  \
76        Priya    Sharma  Google  30 Oct 2018
307      Justin   Flam ⛅️  Google  16 Jul 2018
1924   Shashank  Chikodi   Google  18 Mar 2018

                                   Position
76                               HR Manager
307                 Recruiter-Google Cloud
1924  Techincal Recruiter Google Cloud Apac
   First Name Last Name                          Company Connected On  \
14  Meenakshi     Kohli  Ola (ANI Technologies Pvt. Ltd)  11 Nov 2018

      Position
14  HR Manager
       First Name Last Name Company Connected On                     Position
369         Raman    Thakur    Uber  11 Jul 2018   Senior Technical Recruiter
1962  Achuthanand      Ravi    Uber  19 Jan 2018  Technical Recruiter - EMEA

In [127]:
for index in Fav_cmpany.index:
    print(Fav_cmpany[index])
    print(HRs.get_group(Fav_cmpany[index]).Position.value_counts())

Amazon
Recruiter              2
Technical Recruiter    1
Name: Position, dtype: int64
Edureka
Senior Associate - HR Operations    1
Name: Position, dtype: int64
Flipkart
Engineering Recruiter    1
Director HR              1
Name: Position, dtype: int64
Google
Techincal Recruiter Google Cloud Apac    1
Recruiter-Google Cloud                   1
HR Manager                               1
Name: Position, dtype: int64
Ola (ANI Technologies Pvt. Ltd)
HR Manager    1
Name: Position, dtype: int64
Uber
Technical Recruiter - EMEA     1
Senior Technical Recruiter     1
Name: Position, dtype: int64